<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Create A Mab Libs!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Fill in the blanks to create your custom story</h1>
        <form action="/story" method="post">
            <label for="nounOne">First noun</label>
            <input id="nounOne" name="nounOne" type="text">
            <label for="personOne">First person</label>
            <input id="personOne" name="personOne" type="text">
            <label for="verbOne">First verb</label>
            <input id="verbOne" name="verbOne" type="text">
            <label for="nounTwo">Second noun</label>
            <input id="nounTwo" name="nounTwo" type="text">
            <label for="holiday">Holday</label>
            <input id="holiday" name="holiday" type="text">
            <label for="colorOne">First color</label>
            <input id="colorOne" name="colorOne" type="text">
            <label for="adjectiveOne">First adjective</label>
            <input id="adjectiveOne" name="adjectiveOne" type="text">
            <label for="verbTwo">Second verb</label>
            <input id="verbTwo" name="verbTwo" type="text">
            <label for="vegetable">Vegetable</label>
            <input id="vegetable" name="vegetable" type="text">
            <label for="verbThree">Third verb</label>
            <input id="verbThree" name="verbThree" type="text">
            <label for="personTwo">Second person</label>
            <input id="personTwo" name="personTwo" type="text">
            <label for="verbFour">Fourth verb</label>
            <input id="verbFour" name="verbFour" type="text">
            <label for="verbFive">Fifth verb</label>
            <input id="verbFive" name="verbFive" type="text">
            <label for="colorThree">Third color</label>
            <input id="colorThree" name="colorThree" type="text">
            <button type="submit">Go!</button>
        </form>
    </body>
</html>